


<div class="page-body">
  
    <ul class="cities-list">
      <li class="cities-list__item">
        <li class="box"><br><a routerLink="../City-Newyork" routerLinkActive="active">NEW YORK</a></li>
        
        <br>
        <li class="box" ><br><a routerLink="../City-London" routerLinkActive="active">LONDON</a></li>
       <br>
       <li class="box" ><br><a routerLink="../City-Japan" routerLinkActive="active" >JAPAN</a></li>
       
    </ul>
</div>


<div class="left">
  <nav>
      <ul class="cities-list">
        
      </ul>
    </nav>
    
    
  </div>