.left {
  position:absolute;
  width: 0px;
  height: -1px;
  top: 0px;
  right: 0px;
  left: 0px;

  padding: 0px;
  text-align: left;
  background: #ffffff;
  color: rgb(14, 2, 2);
  font-size: 0px;
}
  
  .box {outline-style: solid;
    outline-width: 0.5px;
  height: 71px;
  width: 305.5px;
  
color: #91d2f0}

  .cities-list {
    position:absolute;
    resize: both;
    width: 20%;
    height: 56%;
    padding: 0;
    top: -40px;
    right: 90px;
    left:-20px;
    list-style-type:upper-latin;
    border-bottom: 0px solid #3b2727;
    border-right: 2px solid #91d2f0;
    
    
    

    &__item {
      display: flex;
      justify-content: flex-start;
      align-items: left;
      font-size: 32px;
      color: #ffffff;
      width: 5%;
      min-height: 20px;
      
      transition: color .1s ease-out;
      cursor:crosshair;
   
      &:hover {
        color: #c50cf3;
      }
    }
  }
