.main {
    position: absolute;
    top: 90px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    
    
    align-content: center;
    padding-left: 180px;
    text-align:center;
    background: #ffffff;
    
    
    
  }