<div class="london">       <!--heading i.e the city name-->
    <h3> London</h3>

    <div class="update">    <!--the weather report-->
        <ul>
    
          <h4 class="one"> CONDITION:   {{londonforecast.condition}}</h4> 
      
            
          <h4> Temperature:-   </h4>  
          
          <p class="two"> Day:-       {{londonforecast.temperature.day}}  </p>               
          <p class="two"> Night:       {{londonforecast.temperature.night}} </p> 
          <br>           
          <h4>WIND</h4> 
          <p class="two"> Speed:  {{londonforecast.wind.speed}}</p>
              <p class="three">Direction:-  {{londonforecast.wind.direction}}</p>
              
                <br>
    
        </ul>
    </div>
</div>
   
