<div class="london">       <!--heading i.e the city name-->
    <h3> London</h3>

    <div class="update">    <!--the weather report-->
        <ul>
    
          <h4 class="one"> CONDITION:   SUNNY</h4> 
      
            
          <h4> Temperature:-   </h4>  
          
          <p class="two"> Day:-       26  </p>               
          <p class="two"> Night:       18 </p> 
          <br>           
          <h4>WIND</h4> 
          <p class="two"> Speed:  03MPS</p>
              <p class="three">Direction:-  NORTH</p>
              
                <br>
    
        </ul>
    </div>
</div>
   
