table{

  word-spacing: 30px;
  display: table-row;
  text-align: center;
  display: table-cell;
  height: 48px;
  vertical-align: middle;
}

.header{
    text-align: left;
    left: 0px;
    text-decoration: underline;
    padding-top: -40px;
}


