.japan {
  position: relative;
  padding: 0px;
  top: 0px;
  position: center;
  color: #0e0202;
}
h3{
  text-align: center;
}

.one{
  word-spacing: 500px;
}

.two{
  word-spacing: 590px;
}
.three{
  word-spacing: 555px;
}
.four{
  word-spacing: 560px;
}
.box {
  color: #ffffff;
  outline-style: solid;
  outline-width: 0.5px;
  height: 60px;
  width: 220px;
  list-style-type: none;
  text-align: center;
  background-color: #76c1df;
}
.update{
  position: relative;

  top: 0px;
  text-align: left;
  position: center;
  background: #ffffff;
  color: rgb(14, 2, 2);
  font-size: 20px;
}
