<div class="login-credentials">
    <h4> LOGIN FOR WEATHER FORECASTS</h4>
    <form class="login " #loginForm="ngForm">
        <br>
        USERNAME :
        <input type="text" name="username" [(ngModel)]="username">
        <br>
        <br>
        PASSWORD :
        <input type="password" name="password" [(ngModel)]="password">
        <br>
        <br>
        <input type="submit" name="submit" id="submit" (click)="doLogin(username,password)">
    </form>
    <ng-template #elseBlock> </ng-template>
</div>
<button mat-raised-button color="accent">accent</button>
<!--<mat-button-toggle [aria-label]="alertsEnabled ? 'Disable alerts' : 'Enable alerts'">
  <mat-icon>notifications</mat-icon>
</mat-button-toggle>-->
<!--if username and password match then got to <app-parent></app-parent>  -->
