<div class="japan">             <!--heading i.e the city name-->
    <h3> Japan</h3>
</div>
     


<div class="update">               <!--the weather report-->
    <ul>

        <h4 class="one"> CONDITION:   {{japanforecast.condition}}</h4> 
      
            
        <h4> Temperature:-   </h4>  
        
        <p class="two"> Day:-       {{japanforecast.temperature.day}}  </p>               
        <p class="two"> Night:       {{japanforecast.temperature.night}} </p> 
        <br>           
        <h4>WIND</h4> 
        <p class="two"> Speed:  {{japanforecast.wind.speed}}</p>
            <p class="three">Direction:-  {{japanforecast.wind.direction}}</p>
          
    <br>

    </ul>
</div>



   
    
