<div class="japan">             <!--heading i.e the city name-->
    <h3> Japan</h3>
</div>
     


<div class="update">               <!--the weather report-->
    <ul>

      <h4 class="one"> CONDITION:   CLOUDY</h4> 
      
            
      <h4 class="one"> Temperature:-   </h4>  
      
      <p class="two"> Day:-        22 </p>               
      <p class="two"> Night:       18 </p> 
      <br>           
      <h4>WIND</h4> 
      <p class="two"> Speed:  1.5MPS</p>
          <p class="three">Direction:-  SOUTH</p>
          
    <br>

    </ul>
</div>



   
    
