

<h4 class="header">IN LONDON THIS WEEK</h4>
<table mat-table [dataSource]="dailyTable">
    

    <ng-container matColumnDef="day">
        
        <th class="mathead" mat-header-cell *matHeaderCellDef>| DAY |</th>
        <td mat-cell *matCellDef="let weekly"> {{weekly.day}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    
    
    <ng-container matColumnDef="morning">
        
        <th class="mathead" mat-header-cell *matHeaderCellDef> | morning |</th>
        <td mat-cell *matCellDef="let weekly"> {{weekly.morning}} </td>
      </ng-container>
      
      <ng-container matColumnDef="night">
        
        <th class="mathead" mat-header-cell *matHeaderCellDef>| night |</th>
        <td mat-cell *matCellDef="let weekly"> {{weekly.night}} </td>
      </ng-container>
    
    </table>
