<div class="newyork">            <!--heading i.e the city name-->
<h3> New York</h3>

    <div class="update">          <!--the weather report-->
        <ul>
    
          <h4 class="one"> CONDITION:   {{newyorkforecast.condition}}</h4> 
      
            
          <h4> Temperature:-   </h4>  
          
          <p class="two"> Day:-       {{newyorkforecast.temperature.day}}  </p>               
          <p class="two"> Night:       {{newyorkforecast.temperature.night}} </p> 
          <br>           
          <h4>WIND</h4> 
          <p class="two"> Speed:  {{newyorkforecast.wind.speed}}</p>
              <p class="three">Direction:-  {{newyorkforecast.wind.direction}}</p>
              
                <br>
                 </ul>
    </div>

  