<div class="newyork">            <!--heading i.e the city name-->
<h3> New York</h3>

    <div class="update">          <!--the weather report-->
        <ul>
          <h3> {{ date | date }}</h3>
          <h4 class="one"> CONDITION:   {{forecastdata.condition}}</h4> 
      
            
          <h4> Temperature:-   </h4>  
          
          <p class="three"> Day:-       {{forecastdata.temperature.day}}*C  </p>               
          <p class="two">  "           {{forecastdata.temperature.day | demo}}   </p>
          <p class="four"> Night:       {{forecastdata.temperature.night}}*C </p> 
          <p class="two">  "           {{forecastdata.temperature.night | demo}}   </p>
          <br>           
          <h4>WIND</h4> 
          <p class="two"> Speed:  {{forecastdata.wind.speed}}</p>
              <p class="three">Direction:-  {{forecastdata.wind.direction}}</p>
              
                <br>
                 </ul>
    </div>

  