.newyork {
    position: relative;
    padding: 0px;
    text-align:center;
    top: -300px;
    position: center;
    background:  #c3e0e7;
    color: rgb(14, 2, 2);
    font-size: 20px;
  }
.one{
  word-spacing: 500px;
}

.two{
  word-spacing: 590px;
}

.three{
  word-spacing: 555px;
}

  .update{
    position: relative;
    
    text-align: left;
    position: center;
    background:  #c3e0e7;
    color: rgb(14, 2, 2);
    font-size: 20px;
  }

 