<div class="newyork">            <!--heading i.e the city name-->
<h3> New York</h3>

    <div class="update">          <!--the weather report-->
        <ul>
    
          <h4 class="one"> CONDITION:   SUNNY</h4> 
      
            
          <h4 class="one"> Temperature:-   </h4>  
          
          <p class="two"> Day:-        24 </p>               
          <p class="two"> Night:       20 </p> 
          <br>           
          <h4>WIND</h4> 
          <p class="two"> Speed:  02MPS</p>
              <p class="three">Direction:-  SOUTH</p>
              
                <br>
                 </ul>
    </div>

  