<div class="newyork">            <!--heading i.e the city name-->
<h3> New York</h3>

    <div class="update">          <!--the weather report-->
        <ul>
          <h3> {{ date |date }}</h3>
        <h4 class="one"> CONDITION:     {{forecastdata[2].condition|json}} </h4>


        <h4> Temperature:-   </h4>

        <p class="three"> Day:-       {{forecastdata[2].temperature.day|json }}*C   </p>
        <p class="two">  "           {{forecastdata[2].temperature.day | demo}}   </p>
        <p class="four"> Night:       {{forecastdata[2].temperature.night}}*C </p>
        <p class="two">  "           {{forecastdata[2].temperature.night | demo}}   </p>
        <br>
        <h4>WIND</h4>
        <p class="two"> Speed:  {{forecastdata[2].wind.speed}}</p>
            <p class="one">Direction:-  {{forecastdata[2].wind.direction}}</p>

              <br>
                <li class="box" ><br><a routerLink="../weekly-Newyork" routerLinkActive="active" >WEATHER THIS WEEK</a></li>
                 </ul>
    </div>

